# Resource limits
LANGFLOW_CPUS_LIMIT=1.0
LANGFLOW_MEM_LIMIT=2g
LANGFLOW_CPUS_RESERVATION=0.25
LANGFLOW_MEM_RESERVATION=256m

# Service identity
LANGFLOW_IMAGE=docker.io/langflowai/langflow:latest

# Langflow Config
LANGFLOW_HOST=0.0.0.0
LANGFLOW_PORT=7860
HOST_PORT=7860
LANGFLOW_CONFIG_DIR=/app/langflow
LANGFLOW_DATABASE_URL=sqlite:////app/langflow/langflow.db
LANGFLOW_AUTO_LOGIN=true
LANGFLOW_SUPERUSER=langflow
LANGFLOW_SUPERUSER_PASSWORD=''
LANGFLOW_SSRF_PROTECTION_ENABLED=true
LANGFLOW_SSRF_ALLOWED_HOSTS=''
DO_NOT_TRACK=true
